* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    height: 70px;
    box-shadow: 0 0 10px #0004 ;
}

main {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #333;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    color:#fff;
}

.card {
    width: 420px;
    height: 400px;
    background-color: #EEEEEE;
}

.card img {
    width: 100%;
}

.price {
    color: #888;
    font-size: 25px;
    display: inline-block;
}

.sale {
    background-color: #DC9730;
}

.highlighted-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.description-container {
    padding: 10px;
    text-align: justify;
}

.new {
    background-color: #51D275;
}

.default-tag {
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
}

.description-container p {
    color: #555555;
}